.hiden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


img {
    display: block;
    align-self: flex-start;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----------------------------------CONTAINER------------------------------*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 15px;
    }
}

/*---------------------------------HEADER-------------------------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.nav-color-web {
    color: #2e2f42;
}

.nav-logo:hover,
.nav-logo:focus {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-menu-link {
        display: block;
        padding: 24px 0;
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }

    .nav-menu-link:hover,
    .nav-menu-link:focus {
        color: #404BBF;
        opacity: 1;
    }

    .current {
        position: relative;
    }

    .current:focus {
        color: #404bbf;
    }

    .contacts {
        display: block;
        font-style: normal;
    }

    .contacts-list {
        gap: 12px;
        display: flex;
        flex-direction: column;
    }

    .contacts-item {
        display: block;
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-item:hover,
    .contacts-item:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .nav-logo {
        margin-right: 120px;
    }

    .contacts-list {
        gap: 40px;
        align-items: center;
        flex-direction: row;
    }

    .contacts-item {
        padding: 24px 0;
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*------------------------------MOBILE-MENU----------------------------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border-color: transparent;
}

.nav-mobile {
    margin-bottom: auto;
}

.nav-mobile-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 151px;
    height: 200px;
}

.nav-mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-mobile-link:focus,
.nav-mobile-link:hover {
    color: #404BBF;
}

.mobile-addres {
    width: 193px;
    height: 72px;
    margin-bottom: 48px;
}

.mobile-addres-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mobile-addres-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-addres-link:focus,
.mobile-addres-link:focus {
    color: #4D5AE5;
}

.icons-menu {
    display: flex;
    gap: 40px;
}

.icons-list-menu {
    width: 40px;
    height: 40px;
}

.icons-link-menu {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-ref-menu {
    fill: #F4F4FD
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*--------------------------------SECTION---1-----------------------------*/

.main {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobil-bg-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 2px) {
    .main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobil-bg-2x-min.jpg);
    }
}

.mai-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 216px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 72px auto 0;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    display: block;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}



@media screen and (min-width: 768px) {
    .main {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-min.jpg);
        padding: 112px 0;
        min-width: 768px;
    }

    @media screen and (min-resolution: 2px) {
        .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-2x-min.jpg);
        }
    }

    .main-hero {

        font-size: 56px;
        line-height: 1.1.07143;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    .hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        margin-top: 36px;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        display: block;
        border: none;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF
    }
}



@media screen and (min-width: 1158px) {
    .main {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
        min-width: 1440px;
    }

    @media screen and (min-resolution: 2px) {
        .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-2x-min.jpg);
        }
    }

    .main-hero {
        line-height: 1.07143;
    }

    .hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        margin-top: 48px;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        display: block;
        border: none;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF
    }
}

/*----------------------------------SECTIO---2----------------------------------*/

.advantages {
    padding: 96px 0;
}

.advantages-list {
    /*flex-direction: column;*/
}

.advantages-item {
    margin-bottom: 72px;
}

.advantages-border {
    display: none;
}

.advantages-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px) {


    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .advantages-item {
        margin-bottom: 0;
        width: calc((100% - 24px) / 2);
    }

    .advantages-heading {
        text-align-last: left;
    }

}

@media screen and (min-width: 1158px) {
    .advantages {
        padding: 120px 0;
    }


    .advantages-list {
        display: flex;
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .advantages-border {
        display: flex;
        background-color: #f4f4fd;
        align-items: center;
        justify-content: center;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px
    }


    .advantages-heading {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        width: calc((100% - 72px) / 4);
    }

    .advantages-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*-------------------------------------SECTIO---3---------------------------------*/

.team {
    background-color: #F4F4FD;
    padding: 96px 12px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 8px;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    padding-bottom: 8px;
}

.name-clas {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 32px 0;
}

.icons-list {
    width: 40px;
    height: 40px;
}

.icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    background-color: #404bbf;
}

.icons-img {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 80px;
        gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}