.hiden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----------------------------------CONTAINER------------------------------*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 15px;
    }
}

/*---------------------------------HEADER-------------------------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.nav-color-web {
    color: #2e2f42;
}

.nav-logo:hover,
.nav-logo:focus {
    color: #2E2F42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-menu-link {
        display: block;
        padding: 24px 0;
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .current::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
    }

    .nav-menu-link:hover,
    .nav-menu-link:focus {
        color: #404BBF;
        opacity: 1;
    }

    .current {
        position: relative;
    }

    .current:focus {
        color: #404bbf;
    }

    .contacts {
        display: block;
        font-style: normal;
    }

    .contacts-list {
        gap: 12px;
        display: flex;
        flex-direction: column;
    }

    .contacts-item {
        display: block;
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-item:hover,
    .contacts-item:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .nav-logo {
        margin-right: 120px;
    }

    .contacts-list {
        gap: 40px;
        align-items: center;
        flex-direction: row;
    }

    .contacts-item {
        padding: 24px 0;
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*------------------------------MOBILE-MENU----------------------------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border-color: transparent;
}

.nav-mobile {
    margin-bottom: auto;
}

.nav-mobile-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 151px;
    height: 200px;
}

.nav-mobile-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-mobile-link:focus,
.nav-mobile-link:hover {
    color: #404BBF;
}

.mobile-addres {
    width: 193px;
    height: 72px;
    margin-bottom: 48px;
}

.mobile-addres-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mobile-addres-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-addres-link:focus,
.mobile-addres-link:focus {
    color: #4D5AE5;
}

.icons-menu {
    display: flex;
    gap: 40px;
}

.icons-list-menu {
    width: 40px;
    height: 40px;
}

.icons-link-menu {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-ref-menu {
    fill: #F4F4FD
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*--------------------------------SECTION---1-----------------------------*/

.main {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobil-bg-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (min-resolution: 2px) {
    .main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/mobil-bg-2x-min.jpg);
    }
}

.mai-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    max-width: 216px;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin: 72px auto 0;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    display: block;
    border: none;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}



@media screen and (min-width: 768px) {
    .main {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-min.jpg);
        padding: 112px 0;
        min-width: 768px;
    }

    @media screen and (min-resolution: 2px) {
        .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-2x-min.jpg);
        }
    }

    .main-hero {

        font-size: 56px;
        line-height: 1.1.07143;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    .hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        margin-top: 36px;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        display: block;
        border: none;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF
    }
}



@media screen and (min-width: 1158px) {
    .main {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        padding: 188px 0;
        min-width: 1440px;
    }

    @media screen and (min-resolution: 2px) {
        .main {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-2x-min.jpg);
        }
    }

    .main-hero {
        line-height: 1.07143;
    }

    .hero-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        margin-top: 48px;
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;
        display: block;
        border: none;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF
    }
}

/*----------------------------------SECTIO---2----------------------------------*/

.advantages {
    padding: 96px 0;
}

.advantages-list {
    /*flex-direction: column;*/
}

.advantages-item {
    margin-bottom: 72px;
}

.advantages-border {
    display: none;
}

.advantages-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


@media screen and (min-width: 768px) {


    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .advantages-item {
        margin-bottom: 0;
        width: calc((100% - 24px) / 2);
    }

    .advantages-heading {
        text-align-last: left;
    }

}

@media screen and (min-width: 1158px) {
    .advantages {
        padding: 120px 0;
    }


    .advantages-list {
        display: flex;
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 72px) / 4);
    }

    .advantages-border {
        display: flex;
        background-color: #f4f4fd;
        align-items: center;
        justify-content: center;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px
    }


    .advantages-heading {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        width: calc((100% - 72px) / 4);
    }

    .advantages-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*-------------------------------------SECTIO---3---------------------------------*/

.team {
    background-color: #F4F4FD;
    padding: 96px 12px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item {
    display: block;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 8px;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    padding-bottom: 8px;
}

.name-clas {
    padding: 32px 0;
}

.icons-list {
    width: 40px;
    height: 40px;
}

.icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    background-color: #404bbf;
}

.icons-img {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 80px;
        gap: 24px;
        row-gap: 64px;
    }

}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .team-list {
        padding: 0;
    }

}

/*--------------------------------SECTIO---4-------------------------------*/

.portfolio {
    margin: 96px 0;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-app {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 288px;
    height: 120px;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-paragraf {
    display: none;
}

@media screen and (min-width: 768px) {

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .name-app {
        width: 356px;
        height: 120px
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-title {
        color: #2E2F42;
        text-transform: capitalize;

    }

    .portfolio-list {
        column-gap: 24px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .name-app {
        width: 360px;
    }

    .portfolio-container {
        position: relative;
        overflow: hidden;
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .portfolio-paragraf {
        display: block;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-item:hover .portfolio-paragraf {
        transform: translateY(0%);
    }

    .name-app {
        border-top: none;
    }
}

/*----------------------------------------FOOTER--------------------------------*/

.footer {
    background: #2e2f42;
    padding: 96px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 72px;
}


.footer-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.footer-color-studio {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    display: flex;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.footer-icons-text {
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-icons {
    display: flex;
    gap: 16px;
}

.footer-icons-list {
    width: 40px;
    height: 40px;
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons-img {
    fill: #f4f4fd;
}

.subscribe {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.subscribe-form-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    outline: none;
}


.subscribe-input::placeholder {
    color: #fff;
}


.subscribe-button {
    margin: auto;
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background: #404bbf;
}


.button-icons {
    margin-left: 16px;
    fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        padding: 0 108px;
    }

    .footer-container {
        align-items: flex-start;
    }

    .footer-link {
        justify-content: flex-start;
    }

    .subscribe {
        align-items: flex-start;
    }

    .subscribe-input {
        width: 264px;
    }

    .subscribe-form-list {
        flex-direction: row;
    }

}


@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-wrapper {
        padding: 0 15px;
        gap: 0;
    }

    .footer-heaader {
        margin-right: 120px;
    }

    .subscribe {
        margin-left: auto;
    }
}






/*----------------BACKDROPE------------*/

.backdrope {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background: rgba(46, 47, 66, 0.4);
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrope.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 9px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(231, 233, 252);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.close-iccon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

/*----------------------------------FORM------------------------------*/

.input-wraper {
    position: relative;
    margin-bottom: 8px;
}

.lablle {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}


.input-wraper-icon {
    position: relative;
}

.stroce {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.stroce:focus {
    border-color: #4D5AE5;
}

.icon-wraper {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.stroce:focus+.icon-wraper {
    fill: #4D5AE5;
}

/*----------------------TEXTAREA----------------------*/

.input-comment {
    margin-bottom: 16px;
}

.comment {
    width: 56px;
    height: 14px;
    color: rgb(142, 143, 153);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 4px;
}

.t-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.t-comment:focus {
    border-color: #4D5AE5;
}

.t-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
}


/*-------------------CHEC----------------*/

.modal-checkbox {
    margin-bottom: 24px;
}

.input-checkbox:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-text-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 7.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-privacy-link {
    color: #4d5ae5;
}

.button-submit {
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(77, 90, 229);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
    background: #404BBF;
}


@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }


}

@media screen and (min-width: 1158px) {}